{% extends "layout.html" %}
{% block content %}
    <h1>About project RAR</h1>
    <h2> Meet our Team</h2>
    <ul class="list-group">
        <li class="list-group-item list-group-item-light">Ravish</li>
        <li class="list-group-item list-group-item-light">Ram</li>
        <li class="list-group-item list-group-item-light">Abhishek</li>
    </ul>
    <p>Those were the days when the build release is getting nearer and nearer. Team PST had so much of work to do and
        that's when we thought to automate the process.And that's how this project RAR is born. </p>
{% endblock content %}
